<div class="gamezone">
  <div class="gameboard">

    <div class="opp-d-g">
      <div class="opp deck-zone">
        <div class="d-z-1">

        </div>
      </div>
      <div class="opp grave-zone">
        <div class="g-z-1">

        </div>
      </div>
    </div>

    <div class="center">
      <div class="opp-side">

        <div class="opp hand-zone">
          <div class="h-z-1">

          </div>
          <div class="h-z-2">

          </div>
          <div class="h-z-3">

          </div>
          <div class="h-z-4">

          </div>
          <div class="h-z-5">

          </div>
        </div>

        <div class="opp mons-zone">
          <div class="m-z-1">

          </div>
          <div class="m-z-2">

          </div>
          <div class="m-z-3">

          </div>
        </div>
      </div>

      <div class="main-side">
        <div class="mons-zone">
          <div class="m-z-1">

          </div>
          <div class="m-z-2">

          </div>
          <div class="m-z-3">

          </div>
        </div>

        <div class="hand-zone">
          <div class="h-z-1">

          </div>
          <div class="h-z-2">

          </div>
          <div class="h-z-3">

          </div>
          <div class="h-z-4">

          </div>
          <div class="h-z-5">

          </div>
        </div>

      </div>
    </div>
    <div class="main-d-g">
      <div class="grave-zone">
        <div class="g-z-1">

        </div>
      </div>
      <div class="deck-zone">
        <div class="d-z-1">

        </div>
      </div>
    </div>
  </div>

</div>
